@import '../../style/default.less';

.LogoBox {
    text-align: center;
    padding: 20vw 0vw;
    width: 100%;

    .LogoImg {
        width: 65%
    }
}

.loginWrap {
    margin: 0 auto;
    width: 90%;
    font-size: 5vw;

    .userWrap {
        height: 10vw;
        border-bottom: 1px solid @colorO;
        margin-bottom: 6vw;
        input {
            height: 100%;
            
            margin-left: 5vw;
            border: 0;
            &:focus {
                outline: none;
                background: @colorM;
            }
        }
        .textCodeInput {
            width: 51%;
            display: inline;
            vertical-align: middle;
        }

        .reciveTextCode {
            display: inline;
            vertical-align: middle;
            font-size: 3vw;
            border: 1px solid @colorO;
            padding: 1vw;
            margin-bottom: 1vw;
        }
    }

    .loginSwitcher {
        margin-top: 10vw;
        text-align: center;
        color: @colorv;
    }
}